

html, body {
    margin: 0;
    height: 100%;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
  }


  .header, .footer {
    background-color: #45517D ; 
    color: white; 
    text-align: right;
    padding: 30px; 
    font-size: 30px; 
  }

  html, body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .footer {
    background-color: #45517D; 
    color: white;
    text-align: center;
    padding: 15px; 
    font-size: 15px; 
    margin-top: auto; 
  }
  

  
  body {
    background: linear-gradient(to right, #61B2EC 50%, #8EC9F2 50%);
    height: 100%;
  }

img{
    width: 100px;
    height: auto;
}


u{
    color: rgb(255, 187, 0);
}

